@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 20% 98%;
    --btn-background: 200 10% 91%;
    --btn-background-hover: 200 10% 89%;
    --foreground: 200 50% 3%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 200 50% 3%;
      --btn-background: 200 10% 9%;
      --btn-background-hover: 200 10% 12%;
      --foreground: 200 20% 96%;
    }
  }
}

@layer base {
  * {
    @apply border-foreground/20;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.masonry-grid {
  column-count: 1;
  column-gap: 1rem;
}

@media (min-width: 640px) {

  /* Tailwind's 'sm' breakpoint */
  .masonry-grid {
    column-count: 2;
  }
}

@media (min-width: 1024px) {

  /* Tailwind's 'lg' breakpoint */
  .masonry-grid {
    column-count: 3;
  }
}

.masonry-card {
  width: 100%;
  break-inside: avoid;
  margin-bottom: 1rem;
}

.card-image {
  zoom: 2;

  display: block;
  margin: auto;

  height: auto;
  max-height: 100%;

  width: auto;
  max-width: 100%
}

.flip-card {
  background-color: transparent;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-inner.flipped {
  transform: rotateY(180deg);
}

.flip-card-back {
  background-color: black;
  opacity: .9;
  color: white;
  transform: rotateY(180deg);
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden !important;
  backface-visibility: hidden;
}

.flip-card-front {
  -webkit-transform:rotateY(0deg);
  transform:rotateY(0deg);
  background-color: #bbb;
  color: black;
}

.flip-card-front, .flip-card-back {
  background-clip:content-box;
}